/* user-management.component.scss */
.add-user-container {
    margin-top: 20px;
    text-align: center;
  }
  
  .p-table {
    margin-top: 20px;
  }
  
  .p-dialog .p-footer {
    text-align: right;
  }
  